.image-container {
     width: 100%;
     margin: auto;  
     display: block; 
     flex-direction: row;
     flex-wrap: wrap; 
     justify-content: space-evenly;
    & a {
        margin: 20px auto; 
        flex-basis: 200px; 
    }

    @include breakpoints {
        max-width: 1400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.images {
    box-align: center;
    & img {
        background-color: $white;
        border: 2px solid $black;
        border-radius: 2px;
        box-shadow: 2px 2px 5px $black;  
        margin: 50px 50px;
        padding: 5px;
        transform: scale(1.2); 
        transition-duration: 0.2s;
        &:hover {
            background-color: $background-color;
            transform: scale(1.2) rotate(2deg);                       
        }
    }
}