nav {
    text-align: center;
    & h1 {
        color: $black;
    }
    & h1:hover {
        color: $background-color;
    }
    
}

#search-gallery {
    background: none; 
    margin: 50px auto; 
    width: 300px;
    height: 50px; 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    border: 2px solid $border-shade;
    border-radius: 10px;
    padding-right: 10px; 
    &::placeholder {
        font-size: $font-size;
        color: $secondary-c-lt;
        opacity: 50%;
        padding-left: 10px;
    }
    &:focus {
        outline: none;
        padding-left: 10px;
    }
}

