/* ============================================= */
/*              Base Body Styles                 */
/* ============================================= */

//Removed * { ... }, because it was applying as a universal selector ... causing issues to the lightcase plugin.
body {
    background-color: $primary-color;
    font-family: $primary-font-stack;
    color: $color-shade;
    box-sizing: border-box;  
}

main {
    width: 100%;
    transition: 2s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

// ul {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: column;
//     justify-content: space-evenly;
//     & li {
//         list-style: none;
//     }
// }

::selection {
    background-color: $background-color;
    color: $white;
}


#lighcase-overlay {
    background-color: $overlay-color;
}